<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>When it Rains App</h1>
    <p>A 12-hour forecast is checked every day at 7 a.m. EST</p>

    <h2>Forecast Message</h2>
    <p><%= forecastMessage %></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>